<input value={{equation}}>
<button (click)="result()">Result</button>
<button (click)="reset()">RESET</button>
<br>
<button (click)="one()">1</button>
<button (click)="two()">2</button>
<button (click)="three()">3</button>
<button (click)="four()">4</button>
<button (click)="five()">5</button>
<button (click)="six()">6</button>
<button (click)="seven()">7</button>
<button (click)="eight()">8</button>
<button (click)="nine()">9</button>
<button (click)="zero()">0</button>
<br>
<button (click)="plus()">+</button>
<button (click)="minus()">-</button>
<button (click)="mult()">*</button>
<button (click)="devision()">/</button>
